  /* @media (min-width: 992px) {
    .recipe {
      width: 20%;
    }
  }
  
  @media (max-width: 992px) {
    .recipe {
      width: 100%;
    }
  }
  
   


body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}




.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}


.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  border: none !important;;

  margin: 20px;
  min-width: 650px;
  height: 300px;
}

.recipe h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.recipe-image {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.recipe-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cook-button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cook-button:hover {
  background-color: #0b5ed7;
}

.recipe-buttons button + button {
  margin-left: 10px;
} */

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

/* Recipe Card Styles */
.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 20px;
  border: none !important;;
  height: 300px;
}

.recipe h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.recipe-image {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.recipe-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cook-button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cook-button:hover {
  background-color: #0b5ed7;
}

.recipe-buttons button + button {
  margin-left: 10px;
}

@media (min-width: 992px) {
  /* Recipe Card Styles */
  .recipe {
    min-width: 650px;
    height: 300px;
  }
  
  .recipe-image {
    height: 70%;
  }
}
